DB_HOST=localhost
DB_PORT=5432
DB_NAME=honeypot_db
DB_USER=postgres
DB_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

ALERT_EMAIL=
ALERT_EMAIL_PASSWORD=

ABUSEIPDB_API_KEY=

SOC_PORT=4000
CLIENT_PORT=3000